* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}


body{
  background-color: #f9f9f9;
}

.ColHolder{
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}

/* Message scroll */

.bottomBar {
  display: flex;
  width: 100%;
  margin: 20px 0;
  justify-content: center;
}

.loader{
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Turns the square into a circle */
  border: 5px solid #f3f3f3;
  border-top: 5px solid #606060; /* Creates a static loader */
  animation: spin 1s linear infinite; 
  /* 
    animation: adds the keyframe spin animation
    linear: same speed throughout
    infinate: doesn't end
    Needs the keyframes spin
  */
}

/*
Keyframes: spin
This rotates the whole div 360 degrees
*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}